
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

:root {
    --pale-blue: hsl(255, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(255, 100%, 98%);
    --desaturated-blue: hsl(244, 23%, 55%);
    --dark-blue: hsl(223,47%, 23%);
    }
    
    
    .card {
        width: 440px;
        background-color:white;
        color: var(--desaturated-blue);
        border-radius: 20px;
        overflow: hidden;
        margin: 50px auto;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        background-image: url(/images/depositphotos_43210029-stock-illustration-blue-wavy-background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: var(--pale-blue);
        font-family: "Red Hat Display", sans-serif;
        font-size: 16px;
    }
    .title {
        color: var(--dark-blue);
        font-weight: 900;
        font-size: 32px;
    }
    .hero image {
        width: 450%;

    }
    .container {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 18px;

    }
    .container > * {
        margin: 13px 0;
    }
    .order-description {
        line-height: 25px;
    }
    .plan-cotainer {
        font-size: 16px;
        background-color: var(--very-pale-blue);
        padding: 25px;
        border-radius: 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .plan-cotainer a {
        color: var(--bright-blue);
        font-weight: 700;
        font-size: 13px;
        
    }
    .plan-cotainer a:hover {
        opacity: 0.8;
        text-decoration: none;
    }
    .plan-cotainer strong {
        color: var(--dark-blue);
    }
    .plan-discribtion{
        line-height: 20px;
        margin-right: 75px;
    }
    button {
        width: 100px;
        font-weight: 700;
        font-size: 0.9rem ;
        border-radius: 12px;
        cursor: pointer;
        border: none
    }
    .prceed-button {
        background-color: var(--bright-blue);
        padding: 1rem 0;
        box-shadow: 0 20px 30px -8px rgb(197, 189, 245);
        color: white;
        width: 100%;
        border: none;
        font-weight: 700;
        cursor: pointer;
        font-size: 0.9rem;
        border-radius: 12px;
    }
    .prceed-button:hover {
        opacity: 0.8;
    }
.cancel-button {
    background-color: white;
    color: var(--desaturated-blue);
    width:100%;
    font-size: 0.9;
    border-radius: 12px;
    border: none;
    margin-top: 22px;
    font-weight: 700;
    cursor: pointer;
}
.cancel-button:hover {
    color: black;
}
